/* Centrage du Titre et Sous-titre */
.header-section {
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement (l'un sous l'autre) */
  justify-content: center;
  align-items: center;
  text-align: center;     /* Assure que le texte lui-même est centré */
  margin-top: 50px;
  margin-bottom: 50px;    /* Espace sous le bloc de titre */
}

/* Gestion des liens et de l'espacement */
.links-container {
  display: flex;
  flex-direction: column; /* Met chaque lien sur une nouvelle ligne */
  align-items: center;    /* Centre les liens horizontalement */
  gap: 25px;             /* C'EST ICI que tu règles l'espace entre chaque ligne */
}

/* Style des liens pour enlever le soulignement bleu par défaut */
.links-container a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

.links-container a:hover {
  color: #666; /* Petit effet au survol */
}

h2 {text-align: center; margin-bottom: 20px;}
p2 {text-align: center; margin-top: 5px;
  margin-bottom: 5px;}

/* Style pour le bloc audio */
.audio-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
